{% extends "brochures/base_brochure.html" %}
{% load staticfiles %}

{% block body_class %}twocol-context-right{% endblock %}
{% block custom_head %}
<link rel="stylesheet" href="{% static 'css/pdf.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/side-menu.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'js/side-menu.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var modal = $("#theModal")
        // Get the button that opens the modal
        var btn = $(".showModalBtn");
        // Get the <span> element that closes the modal
        var span = $(".close");
        // When the user clicks the button, open the modal 
        btn.click(function() {
            modal.show(200);
        })
        // When the user clicks on <span> (x), close the modal
        span.click(function() {
            modal.hide(300)
        })
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.hide(300)
            }
        }
        
        buildmenu();

    });
</script>
{% endblock %}
{% block title %}Choose template{% endblock %}
{% block page_title %}Choose template{% endblock %}
{% block sidebar %}
<div id="accordian">
	<!--<ul>
		<li>
			<h3><span class="icon-dashboard"></span>Dashboard</h3>
			<ul class="filters-category">
				<li>
                    <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                    <label class="checkbox-label" for="checkbox1">Option 1</label>
                </li>
				<li>
                    <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                    <label class="checkbox-label" for="checkbox2">Option 2</label>
                </li>
				<li>
                    <input class="filter" data-filter=".check1" type="checkbox" id="checkbox3">
                    <label class="checkbox-label" for="checkbox3">Option 3</label>
                </li>
			</ul>
		</li>
		<!-- we will keep this LI open by default - ->
		<li class="active">
			<h3><span class="icon-tasks"></span>Tasks</h3>
			<ul>
				<li><a href="#">Today's tasks</a></li>
				<li><a href="#">Recurring</a></li>
				<li><a href="#">Settings</a></li>
			</ul>
		</li>
		<li>
			<h3><span class="icon-calendar"></span>Calendar</h3>
			<ul>
				<li><a href="#">Current Month</a></li>
				<li><a href="#">Current Week</a></li>
				<li><a href="#">Previous Month</a></li>
				<li><a href="#">Previous Week</a></li>

			</ul>
		</li>
		<li>
			<h3><span class="icon-heart"></span>Favourites</h3>
			<ul>
				<li><a href="#">Global favs</a></li>
				<li><a href="#">My favs</a></li>
			</ul>
		</li>
	</ul>-->
</div>

{% endblock %}
{% load tag_helper %}
{% block content %}
    {% for template in templates %}
        <div class="template-item photos-{{template.num_of_images}} feature-{{template.feature_prop | to_one_word}} filterable">
            <div class="tmp-item-wrapper">
                <img src="{% static ''%}{{template.preview_image}}" alt="" />
                <div class="tmp-item-box">  
                    <h2>{{ template.title }}</h2>  
                    <p>{{ template.description }} {{template.linkToOpen}}</p>  
                    <a href="{% url 'brochures:create_pdf' template.template %}" class="info">Open template</a>
                    <a href="#" class="info showModalBtn">Show smth</a>  
                </div>  
            </div>
        </div>
    {% endfor %}
       
{% endblock %}
