{% extends "brochures/base_brochure.html" %}
{% load staticfiles %}

{% block body_class %}twocol-context-right{% endblock %}
{% block custom_head %}
<link rel="stylesheet" href="{% static 'css/pdf.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/side-menu.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'js/side-menu.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        function closeModal(){
           $(".modal").removeClass("active");
        }

        $(".close, .modal").on("click", function(){
            closeModal();
        });

        // pressing escape
        if (e.keyCode == 27) {
            closeModal();
        }
        buildmenu();
        
    });
    function showDesc(id){
        $.ajax({
            url: 'get_brochure_modal_data',
            data: {'id': id},
            success: function(response){
                var modal = $("#theModal")
                $(".modal-content p").text(JSON.parse(response).description)
                // modal.show(200);
                 $(".modal").addClass("active");
            },
            error: function(err){
                console.log('err',err)
            }
        })
    }
    function startOrdering(url, template_id){
        // need to save brochure id in session 
        $.ajax({
            url: url,
            data: {'template_id': template_id},
            success: function(response){
                console.log("startOrdering:", response)
            },
            error: function(err){
                console.log('err',err)
            }
        })
    }
</script>
{% endblock %}
{% block title %}Choose template{% endblock %}
{% block page_title %}Choose template{% endblock %}
{% block sidebar %}
{% load tag_helper %}
<div id="accordian">
	<ul>
        {% for category in menu_data %}
            <li>
                <h3>{{menu_data|get_value_by_key:category|get_value_by_key:'title'}}</h3>
                <ul class="filters-category">
                {% for row in menu_data|get_value_by_key:category %}
                    {% if row != 'title' %}
                        {% if category == 'num_of_images' %}
                        <li>
                            <input class="filter" data-filter=".{{row|to_one_word}}" type="checkbox" id="{{row|to_one_word}}{{forloop.counter}}">
                            <label class="checkbox-label" for="{{row|to_one_word}}{{forloop.counter}}">{{row}} ({{menu_data|get_value_by_key:'num_of_images'|get_value_by_key:row}})</label>
                        </li>
                        {% elif category == 'feature_prop' %}
                        <li>
                            <input class="filter" data-filter=".feature-{{row|to_one_word}}" type="checkbox" id="{{row|to_one_word}}{{forloop.counter}}">
                            <label class="checkbox-label" for="{{row|to_one_word}}{{forloop.counter}}">{{row}} ({{menu_data|get_value_by_key:'feature_prop'|get_value_by_key:row}})</label>
                        </li>
                        {% else %}
                        <li>
                            <input class="filter" data-filter=".{{row|to_one_word}}" type="checkbox" id="{{row|to_one_word}}{{forloop.counter}}">
                            <label class="checkbox-label" for="{{row|to_one_word}}{{forloop.counter}}">{{row}}</label>
                        </li>
                        {% endif %}

                    {% endif %}
                {% endfor %}
                </ul>
            </li>    
        {% endfor %}
    </ul>
</div>

{% endblock %}
{% block content %}
    {% for brochure in brochures %}
        <div class="template-item photos-{{brochure.num_of_images}} feature-{{brochure.feature_prop | to_one_word}} filterable">
            <div class="tmp-item-wrapper">
                <img src="{% static ''%}{{brochure.preview_image}}" alt="" />
                <div class="tmp-item-box">  
                    <a href="{% url 'brochures:create_pdf' brochure.template_id %}" class="title"><h2>{{ brochure.title }}</h2>  </a>
                    <p>{{ brochure.description }}</p>  
                    
                    <a href="{% url 'brochures:personal_info' %}" onclick="startOrdering('{% url 'brochures:personal_info' %}', {{brochure.id}})" class="info">Order brochure</a>
                    <a href="#" class="info showModalBtn1" onclick="showDesc({{brochure.id}})">Show description</a>  
                </div>  
            </div>
        </div>
    {% endfor %}
       
{% endblock %}
