{% extends "addresses/base_address.html" %}
{% load staticfiles %}

{% block title %}{% if address %}Edit{% else %}Add{% endif %} an address{% endblock %}
{% block page_title %}{% if address %}Edit{% else %}Add{% endif %} an address{% endblock %}

{% block body_class %}onecol{% endblock %}

{% block content %}
    {% if address %}
    <p>Now editing the address for <strong>{{ address.first_name }} {{ address.last_name }}</strong>.
    {% else %}
        <p>Create a new address book entry by completing the form below.
    {% endif %}
    Fields with bold labels are required.</p>

    <form action="." method="post">{% csrf_token %}
        {% include "addresses/address_edit_form.html" %}
        <div class="submit">
            <div class="buttons">
                <img src="{% static 'img/spinner.gif' %}" alt="" class="spinner">
                <button type="submit" class="positive">
                    <img src="{% static 'img/tick_circle.png' %}" alt="">
                    Save address
                </button>
                or <a href="{% url 'addresses:address_index' %}" title="Cancel" class="alt_option">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
