env_django19/
addresses/migrations/*
downloads/migrations/*
downloads/files/*
events/migrations/*
orders/migrations/*
orgs/migrations/*
products/migrations/*
reports/migrations/*
vardata/migrations/*
*.pyc
*.swp
.DS_Store
db.sqlite3.sqlite
static/uploads
settings.json