env_django19/
venv/
addresses/migrations/*
brochures/migrations/*
downloads/migrations/*
downloads/files/*
events/migrations/*
orders/migrations/*
orgs/migrations/*
products/migrations/*
reports/migrations/*
vardata/migrations/*
uploads/migrations/*
*.pyc
*.swp
.DS_Store
_env_django19
tenv/*
*.sqlite
*.sql
db.sqlite3.sqlite
static/uploads
*.pdf
settings.json
settings_local.py
static_to
logos
brochure_images
media
.idea
newrelic.ini
