{% extends "registration/reg_base.html" %}
{% load staticfiles %}

{% block title %}Reset your password{% endblock %}
{% block page_title %}Reset your password{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="msgbox alert_e"><p>{{ form.email.errors }}</p></div>
    {% endif %}

    <p>Forgotten your password? No problem. Enter the email address associated with your account below, and we'll send you instructions for setting a new one.</p>

    <form action="." method="post">
        <fieldset>
            <div class="form_row"><label for="id_email" class="required">Email address</label>{{ form.email }}</div> 
        </fieldset>   
        <div class="submit">
            <div class="buttons">
                <button type="submit" class="positive">
                    <img src="{% static 'img/tick.png' %}" alt=""> 
                    Reset password
                </button>
                or <a href="{% url login %}" title="Login page" class="alt_option">return to login page</a>
            </div>
        </div>
    </form>

{% endblock %}
