You're receiving this email because you requested a password reset
for your user account at {{ site_name }}.

Please visit the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}
Your username, in case you've forgotten, is {{ user.username }}.

If you have any questions or concerns about your account, please don't
hesitate to contact us. Thanks for using our site.

Sincerely, 
--
Mimic Print & Media Services
Tel: 905.415.2772
Fax: 905.415.2005
