{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}
{% block subtitle %}Password Reset{% endblock %}

{% block content %}

{% if validlink %}

    <p>Enter your new password below.</p>
    <form action="" method="post" class="login">{% csrf_token %}
        <fieldset>
            {{ form.new_password1.errors }}
            <p class="required"><label for="id_new_password1">New password: </label>{{ form.new_password1 }}</p>
            {{ form.new_password2.errors }}
            <p class="required"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
        </fieldset>
        <div class="submitnotop"><input type="submit" value="Set password" /></div>
    </form>

{% else %}

    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
