<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %} | Mimic Ordering System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen,projection">
    <!--[if IE]>
		<link rel="stylesheet" type="text/css" href="ie.css" media="all" />
    <![endif]-->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    {% block custom_head %}{% endblock %}
 </head>

<body id="registration">
    <h1>
        {% if on_podrexall %}
            <img src="{{ MEDIA_URL }}logo_icons/Rexall-Logo.png" alt="Mimic" width="173" height="38">
        {% else %}
            <img src="{{ MEDIA_URL }}img/logo_mimic.png" alt="Mimic" width="173" height="38">
        {% endif %}
    </h1>
    <div id="main">
        <h2>{% block page_title %}{% endblock %}</h2>
        <div id="content">
            {% block content %}{% endblock %}
        </div><!-- #content -->
    </div><!-- #main -->

    <div id="footer">
        <p>{#<a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="#">Contact us</a><br>#}
          &copy; 2009-2013
          {% if on_podrexall %}
          Podrexall.
          {% else %}
          Mimic Print &amp; Media Services.
          {% endif %}
          All rights reserved.
        </p>
    </div><!-- #footer-->
</body>
</html>
