{% extends "base.html" %}
{% load staticfiles %}

{% block body_id %}products{% endblock %}

{% block subheader %}
{#<div class="products-categories">#}
{#    <ul>#}
{#        <li><a href="{% url 'brochures:brochures' %}" class="{% block active_brochure_state %}{% endblock %}">Brochures</a></li>#}
{#        <li><a href="{% url 'products:product_list' %}" class="{% block active_product_state %}{% endblock %}">Other Products</a></li>#}
{#    </ul>#}
{#</div>#}
{% endblock %}

{% block search %}
<div id="search">
    <form action="{% url 'products:product_search' %}" method="get">{% csrf_token %}
        <input type="text" name="q" title="Search products..." id="search_input">
        <input type="image" src="{% static 'img/search.png' %}" id="search_submit" alt="Search">
    </form>
</div>
{% endblock %}

{% block content %}{% endblock %}
