{% extends "products/base_product.html" %}
{% load staticfiles %}

{% block custom_head %}
<link rel="stylesheet" href="{% static 'css/pdf.css' %}" type="text/css">
<script type="text/javascript">
    $(document).ready(function(){
        // $("#dataForm").submit(function(event){
        //     event.preventDefault();

        //     var form = $(this)
        //     var data = $(this).serialize();
            
        //     // var term = $form.find( "input[name='file1']" ).val(),
        //     var url = form.attr( "action" );
        //     console.log("data", data)

        //     var posting = $.ajax({
        //         'type': 'POST',
        //         'url': url,
        //         'data': data,
        //         'success': function(datan, status){
        //             var spinner = $('#sendData').prev()
        //             spinner.hide(); 
        //             console.log('datan',JSON.parse(datan));
        //             console.log('st',status);
        //         },
        //         'error': function(err, status){
        //             console.log('err',err)
        //         }
        //     })
        // })
                

    });
</script>
{% endblock %}
{% block title %}Your orders{% endblock %}
{% block page_title %}Your orders{% endblock %}

{% block content %}
    <div class="preview-page">
        {% if preview %}
        <p class='preview-paragraph'>
            <img id='img1' src="{{preview.file1}}" class="preview-images" />
            {{preview.firstTextBox}}
        </p>  
        <p class='preview-paragraph'>
            <img id='img2' src="{{preview.file2}}" class="preview-images" />
            {{preview.secondTextBox}}
        </p>
        {% else %}
        <p class='preview-paragraph'>
            <img id='img1' class="preview-images" src=""/>
            some text 1
        </p>  
        <p class='preview-paragraph'>
            <img id='img2' class="preview-images" />
            some text 2
        </p>
        {% endif %}
    </div>
    <form id="dataForm" method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <p>
                <label for="report_name" style="display: inline; padding-right: 1em;">Report name</label>
                <textarea type="text" id="report_name" name="report_name"></textarea>
            </p>
            <p>
                <label for="firstTextBox" style="display: inline; padding-right: 1em;">Some text 1</label>
                <textarea type="text" id="firstTextBox" name="title"></textarea>
            </p>
            <p>
                <label for="secondTextBox" style="display: inline; padding-right: 1em;">Some text 1</label>
                <textarea type="text" id="secondTextBox" name="secondTextBox"></textarea>
            </p>
            <p>
                <label for="main_file" class="required" style="display: inline; padding-right: 1em;">File main</label>
                <input id="main_file" name="file1" type="file">
            </p>
            <p>
                <label for="slave_file" class="required" style="display: inline; padding-right: 1em;">File additional</label>
                <input id="slave_file" name="file2" type="file">
                <!--<button type="button" class="positive">
                    <a href="{}"
                    <img src="{% static 'img/tick_circle.png' %}" alt="">
                    Approve selected order(s) -->
            </p>
        </fieldset>
        <div class="submit">
            <div class="buttons nolabel center">
                <img src="{% static 'img/spinner.gif' %}" alt="" class="spinner">
                <button id="sendData" type="submit" class="positive">
                    <img src="{% static 'img/tick_circle.png' %}" alt="">
                    Approve selected order(s)
                </button>
            </div>
        </div>
    </form>
       
{% endblock %}
