{% extends "products/base_product.html" %}
{% load staticfiles %}

{% block title %}Product list{% endblock %}
{% block page_title %}Product list{% endblock %}
{% block body_class %}twocol-context-right{% endblock %}
{% block active_product_state %}active{% endblock %}

{% block custom_head %}
<link rel="stylesheet" href="{% static 'css/pdf.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/side-menu.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'js/side-menu.js' %}"></script>
{% if not search %}
    <script type="text/javascript">
    $(document).ready(function(){
        buildmenu();
    });
    </script>
{% endif %}
{% endblock %}


{% block sidebar %}
{% load tag_helper %}
<div id="accordian">
	<ul>
        <li>
            <h3>Categories</h3>
            <ul class="filters-category">
            {% for category in categories %}
                <li>
                    <input class="filter" data-filter=".{{category.name|to_one_word}}" type="checkbox" id="{{category.name|to_one_word}}{{forloop.counter}}">
                    <label class="checkbox-label" for="{{category.name|to_one_word}}{{forloop.counter}}">{{category.name}}</label>
                </li>
            {% endfor %}
            </ul>
        </li>
        {% for category in menu_data %}
            <li>
                <h3>{{menu_data|get_value_by_key:category|get_value_by_key:'title'}}</h3>
                <ul class="filters-category">
                {% if menu_data|get_value_by_key:category|get_value_by_key:'title' == 'Price' %}
                    <li>
                        <input class="filter" data-filter=".price_max_10" type="checkbox" id="price_max_10">
                        <label class="checkbox-label" for="price_max_10"> 0 < 10</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".price_max_50" type="checkbox" id="price_max_50">
                        <label class="checkbox-label" for="price_max_50"> 11 < 50</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".price_max_100" type="checkbox" id="price_max_100">
                        <label class="checkbox-label" for="price_max_100"> 51 < 100</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".price_max_500" type="checkbox" id="price_max_500">
                        <label class="checkbox-label" for="price_max_500"> 101 < 500</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".price_max_1000" type="checkbox" id="price_max_1000">
                        <label class="checkbox-label" for="price_max_1000"> 501 < 1000</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".price_max_inf" type="checkbox" id="price_max_inf">
                        <label class="checkbox-label" for="price_max_inf"> More than 1000</label>
                    </li>
                {% else %}
                    {% for row in menu_data|get_value_by_key:category %}
                        {% if row != 'title' %}
                            <li>
                                <input class="filter" data-filter=".{{row|to_one_word}}" type="checkbox" id="{{row|to_one_word}}{{forloop.counter}}">
                                <label class="checkbox-label" for="{{row|to_one_word}}{{forloop.counter}}">{{row}}</label>
                            </li>

                        {% endif %}
                    {% endfor %}
                {% endif %}
                </ul>
            </li>    
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block content %}
{% if search %}
<p>Your search for <strong>"{{ query_string }}"</strong> found {% if products.count %}<strong>{{ products.count }} result{{ products|pluralize }}</strong>{% else %} no results{% endif %}. {% if products %}To place an order, enter the quantit{{ products|pluralize:"y,ies" }} you require, or <a href="{% url 'products:product_list' %}" title="Product list">return to the full product list</a>.{% endif %}</p>
{% else %}
    {% if products %}
        <p>Below is a list of all products available for ordering, organized by category. To place an order, enter the quantity you require for each item. You may order more than one item at once. You can change the sort order by clicking on column headers, or toggle category visibility by clicking the category title. Also you can create a brochure. </p>
    {% endif %}
{% endif %}

{% if products %}
    <form action="{% url 'orders:process_products' %}" method="post">{% csrf_token %}
        
        {% for prod in products %}
            {% for product in prod.products %}
            <div class="template-item {{product.price | price_constructor}} {{product.min_order_qty }} {{prod.name|to_one_word}} filterable">
                <div class="tmp-item-wrapper">
                    <img src="{% static 'img/product_preview.jpg' %}" alt="" />
                    <div class="tmp-item-box">  
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.description }}</p>  
                        
                        <a href="{% url 'brochures:personal_info' %}" class="info">Order brochure</a>
                        <a href="#" class="info showModalBtn1" onclick="showDesc({{brochure.id}})">Show description</a>  
                    </div>  
                </div>
            </div>
            {% endfor %}
        {% endfor %}


    {% for cat in categories %}
        {% if search %}
        <h3 class="category">Search results
        {% else %}
        <h3 class="category collapsed cat-closed" data-id={{cat.id}}>{{ cat.name }}
        {% endif %}
        </h3>
        <table class="product_list tablesorter" style="display: none;">
        <thead>
        <tr>
            <th>{% if cat.name_altname %}{{ cat.name_altname }}{% else %}Item{% endif %}</th>
            {% if cat.name_altname == "Document Title" %} <th>Preview</th> {% endif %}
            {% if cat.show_revision %}<th>{% if cat.revision_altname %}{{ cat.revision_altname }}{% else %}Revision{% endif %}</th>{% endif %}
            {% if cat.show_part_number %}<th>{% if cat.part_number_altname %}{{ cat.part_number_altname }}{% else %}Part&nbsp;Number{% endif %}</th>{% endif %}
            {% if cat.show_price %}
                {% if user_is_manager or profile.can_see_prices %}
                    <th>{% if cat.price_altname %}{{ cat.price_altname }}{% else %}Price{% endif %}</th>
                {% endif %}
            {% endif %}
            {% if cat.show_inventory %}<th>Inventory</th>{% endif %}
            <th class="qty" colspan="2">Quantity</th>
        </tr>
        </thead>

        <tbody>
        {% for product in products %}
            {% if search %}
                <tr class="{#% cycle odd,even %#}">
                    {% include "products/product_row.html" %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
    {% endfor %}

    <div class="submit">
        <div class="center">
            <img src="{% static 'img/spinner.gif' %}" alt="" class="spinner">
            <button type="submit" class="">
                <img src="{% static 'img/arrow.png' %}" alt="">
                Continue
            </button>
        </div>
    </div>
    </form>
{% else %}
    {% if not search %}
        <p>There are no products available for ordering.</p>
    {% endif %}
{% endif %}
{% endblock %}
