{% extends "cards/base_card.html" %}
{% load staticfiles %}

{% block body_class %}onecol{% endblock %}
{% block custom_head %}
<link rel="stylesheet" href="{% static 'css/pdf.css' %}" type="text/css">
<script type="text/javascript">
    $(document).ready(function(){
        // $("#dataForm").submit(function(event){
        //     event.preventDefault();

        //     var form = $(this)
        //     var data = $(this).serialize();
            
        //     // var term = $form.find( "input[name='file1']" ).val(),
        //     var url = form.attr( "action" );
        //     console.log("data", data)

        //     var posting = $.ajax({
        //         'type': 'POST',
        //         'url': url,
        //         'data': data,
        //         'success': function(datan, status){
        //             var spinner = $('#sendData').prev()
        //             spinner.hide(); 
        //             console.log('datan',JSON.parse(datan));
        //             console.log('st',status);
        //         },
        //         'error': function(err, status){
        //             console.log('err',err)
        //         }
        //     })
        // })
                

    });
</script>
{% endblock %}
{% block title %}Your orders{% endblock %}
{% block page_title %}Your orders{% endblock %}

{% block content %}
    <div class="included-template">
        <iframe id="encoder_iframe" height=500px width="100%" src="{% url 'cards:render_including_template' card.template %}"></iframe>
    </div>
    <form id="dataForm" method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            {% load tag_helper %}

            {% for img_n in card.num_of_images|times %}
                {% if img_n == 1 %}
                <p>
                    <label for="main_photo" class="required" style="display: inline; padding-right: 1em;">Main photo</label>
                    <input id="main_photo" name="main_photo" type="file">
                </p>
                {% endif %}
                <p>
                    <label for="file{{img_n}}" class="required" style="display: inline; padding-right: 1em;">Image {{img_n}}</label>
                    <input id="file{{img_n}}" name="file{{img_n}}" type="file">
                </p>
            {% endfor %}
                <p>
                    <label for="report_name" style="display: inline; padding-right: 1em;">Report name</label>
                    <textarea type="text" id="report_name" name="report_name"></textarea>
                </p>
            {% for text_n in card.num_of_textfields|times %}
                <p>
                    <label for="secondTextBox" style="display: inline; padding-right: 1em;">Some text {{text_n}}</label>
                    <textarea type="text" id="text{{text_n}}" name="text{{text_n}}"></textarea>
                </p>
            {% endfor %}
                <!--<button type="button" class="positive">
                    <a href="{}"
                    <img src="{% static 'img/tick_circle.png' %}" alt="">
                    Approve selected order(s) -->
        </fieldset>
        <div class="submit">
            <div class="buttons nolabel center">
                <img src="{% static 'img/spinner.gif' %}" alt="" class="spinner">
                <button id="sendData" type="submit" class="positive">
                    <img src="{% static 'img/tick_circle.png' %}" alt="">
                    Approve selected order(s)
                </button>
            </div>
        </div>
    </form>
       
{% endblock %}
