.included-template {
  margin: 0px 0px 25px 0;
}
.preview-page {
  width: 300px !important;
  height: 424px;
  border: 1px solid #333;
  border-radius: 5px;
}
.preview-paragraph{
  position: relative;
  width: 100%;
  float: left;
  text-align: justify;
  font-size: 7px;
  line-height: 10px !important;
}
.preview-images {
  width: 120px;
  height: 170px;
  
  margin: 7px 7px 7px 7px;
  border: 1px solid #333;
  border-radius: 5px;
}
.preview-images-empty {
  font-size: 14px;
}
.preview-paragraph.text-empty{

}
#img1 {
  float:left; /* Выравнивание по левому краю */
  
}
#img2 {
  float:right;
}

/* template 1 */
.page {
  width: 100%;
  float: left;
  border: 1px solid #333;
  border-radius: 5px;

}
.paragraph{
  position: relative;
  width: 100%;
  text-align: justify;
  float: left;
}
.page img {
  max-width: 70%;
  height: auto;
  
  margin: 7px 7px 7px 7px;
  border: 1px solid #333;
  border-radius: 5px;
}
.image1 {
  float:left; /* Выравнивание по левому краю */
  
}
.image2 {
  float: right;
/*   position: absolute;
  bottom: 0;
  right: 0; */
}
.preview-page .label {
  text-align: justify;
  display: block;
}
/* end template 1*/

.temp-img {
  color: #fff;
  text-align: center;
  line-height: 220px;
}

/*********** TEMPLATE 2 *************/
@page { 
  size: landscape;
  width: 297mm;
  height: 210mm;
  margin: 0;
  padding: 0;
}
.temp2-page {
  /*background: #117f46;*/
  border: 1px solid #333;
  height: 21cm;
  width: 29.7cm;
  page-break-after: always;
}
@media print {
  html, body {
    width: 297mm;
    height: 210mm;
    margin: 0;
    padding: 0;
  }
  * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
  .temp2-page {
    size: landscape;
    page-break-after: always;
  }
}
.temp2-main-photo {
  width: 100%;
  height: 16cm;
  line-height: 16cm;
  display: block;
}
.temp2-footer {
  height: 5cm;
  background: #191b16;
}
.temp2-creds {
  /*float: right;*/
  position: relative;
  height: 100%;
}
.temp2-footer-text {
  height: 100%;
  vertical-align:top;
  margin-top: 25px;
  margin-right: 20px;
}
.temp2-creds > * {
    position: absolute;
    font-size:0;
}
.temp2-textos {
    top: 25px;
    right: 220px;
    position: absolute;
}
.temp2-logo {
  border-left: 1px solid #fff;
  height: 80%;
  right: 0;
  top: 17px;
}
.temp2-name, .temp2-surname {
  color: #fff;
  font-size: 25px;
  font-family: fantasy;
}

.temp2-content {
  height: 16cm;
}
.temp2-content > div {
/*   display: inline-block; */
  float: left;
}
.temp2-photos-grid {
  height: 100%;
  width: 70%;
  position: relative;
}
.temp2-one, .temp2-two, .temp2-three, .temp2-four {
  padding: 15px;
  position: absolute;
}

.temp2-one {
  width: 9cm;
  height: 8cm;
  top: 5px;
  left: 5px;
}
.temp2-two {
  top: 5px;
  left: 9.7cm;
  width: 9cm;
  height: 40%;
}
.temp2-three {
  top: 8.7cm;
  left: 5px;
  width: 9cm;
  height: 6cm;
}
.temp2-four {
  top: 7cm;
  left: 9.7cm;
  width: 9cm;
  height: 7.7cm;
}
/*********** END TEMPLATE 2 ********/



/******  Brochure's list  *******/
.wrapper {
  font-size: 0;
}

.template-item {
  display: inline-block;
/*   padding: 10px; */
  margin-left: -1px;
  padding: 10px;
  width: 49%;
  height: 220px;
  box-sizing: border-box;
  font-size: 14px;
}
.tmp-item-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
}
.tmp-item-wrapper {
/*     width: 300px; */
/*     height: 200px; */
/*     margin: 10px; */
    float: left;
/*     border: 10px solid #fff; */
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.tmp-item-wrapper .tmp-item-box, .tmp-item-wrapper .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.tmp-item-wrapper img {
    display: block;
    position: relative;
    width: 100%;
}
.tmp-item-wrapper h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.tmp-item-wrapper p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #333;
    padding: 10px 20px 20px;
    text-align: center
}
.tmp-item-wrapper a.info {
    display: inline-block;
    padding: 7px 14px;
}
.tmp-item-box a.info:nth-child(2n+1){
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.tmp-item-box a.info:nth-child(2n){
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.tmp-item-wrapper a.info,
.tmp-item-wrapper a.title {
    text-decoration: none;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.tmp-item-wrapper a.info:hover {
    box-shadow: 0 0 5px #000
}

.tmp-item-wrapper img { 
    transition: all 0.2s linear;
}
.tmp-item-wrapper .tmp-item-box {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.tmp-item-wrapper p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.tmp-item-wrapper a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.tmp-item-wrapper:hover img { 
	transform: scale(1.1);
} 
.tmp-item-wrapper:hover .tmp-item-box { 
	opacity: 1;
  background-color: rgba(219,127,8, 0.7); 
}
.tmp-item-wrapper:hover p,
.tmp-item-wrapper:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.tmp-item-wrapper:hover p {
    transition-delay: 0.1s;
}
.tmp-item-wrapper:hover a.info {
    transition-delay: 0.2s;
}

/*******  end Brochure's list  ********/