#accordian {
	background: rgba(219,127,8, 0.7);
	width: 350px;
	color: white;
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
    margin: 10px;
}
/*heading styles*/
#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
    color: white;
	/*fallback for browsers not supporting gradients*/
	background: #3b3f42; 
	/*background: linear-gradient(#003040, #002535);*/
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: rgba(146, 83, 1, 0.7);
	border-left: 5px solid #333;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}
#accordian > ul > li > h3 {
    border-bottom: 1px solid #000;
}

#accordian label {
	width: 324px;
	display: inline-block;
	float: none;
	text-align: left;
	margin: 0;
}
#accordian > ul > li > ul > li {
	padding-left: 10px;
}

#accordian > ul > li > ul > li:hover {
	background: rgba(146, 83, 1, 0.7);
	border-left: 5px solid #333;
	padding-left: 5px;
	cursor: pointer;
}
#accordian > ul > li > ul > li *:hover {
	cursor: pointer;
}