{% extends "base.html" %}
{% load staticfiles %}

{% block body_id %}{% endblock %}

{% block subheader %}
<div class="products-categories">
    <ul>
        <li><a href="{% url 'brochures:brochures' %}" class="{% block active_brochure_state %}{% endblock %}">Brochures</a></li>
        <li><a href="{% url 'products:product_list' %}" class="{% block active_product_state %}{% endblock %}">Other Products</a></li>
    </ul>
</div>
{% endblock %}

{% block search %}
<div id="search">
    <!--<form action="#" method="get">{% csrf_token %} {# {% url 'brochures:brochure_search' %} #}-->
        <input type="text" name="q" title="Search brochure..." id="search_input">
        <input type="image" src="{% static 'img/search.gif' %}" id="search_submit" alt="Search">
    <!--</form>-->
</div>
{% endblock %}

{% block content %}

<li><a href="https://mimicprint2.com/media/uploads/BJMQ-63_Highalnd_PressQ.pdf">https://mimicprint2.com/media/uploads/BJMQ-63_Highalnd_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/BPGJ-M12W1_PDF.zip">https://mimicprint2.com/media/uploads/BPGJ-M12W1_PDF.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/BZML-32926_Manual___2_Copies.zip">https://mimicprint2.com/media/uploads/BZML-32926_Manual___2_Copies.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/CLHX-2001_12_Yonge_St_PressQ.pdf">https://mimicprint2.com/media/uploads/CLHX-2001_12_Yonge_St_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DCNQ-32883_Manual___3_Copies.zip">https://mimicprint2.com/media/uploads/DCNQ-32883_Manual___3_Copies.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DJBP-Brochure_4pg_19_Singer_Crt_308.pdf">https://mimicprint2.com/media/uploads/DJBP-Brochure_4pg_19_Singer_Crt_308.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DPCZ-Tremblant.zip">https://mimicprint2.com/media/uploads/DPCZ-Tremblant.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DZCH-Temagami_Brochure.pdf">https://mimicprint2.com/media/uploads/DZCH-Temagami_Brochure.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/FHPQ-Brochure_4pg_21_Iceboat_Terr_2706.pdf">https://mimicprint2.com/media/uploads/FHPQ-Brochure_4pg_21_Iceboat_Terr_2706.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/FLDX-Qc_City.zip">https://mimicprint2.com/media/uploads/FLDX-Qc_City.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/GWLP-80_Hogarth_Ave_8pg_Feature_Sheet_PQ.pdf">https://mimicprint2.com/media/uploads/GWLP-80_Hogarth_Ave_8pg_Feature_Sheet_PQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/HZTV-32836_Manual___2_Copies.zip">https://mimicprint2.com/media/uploads/HZTV-32836_Manual___2_Copies.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/JCRZ-GKN_Sinter_Metals_Buckslip___150_copies.pdf">https://mimicprint2.com/media/uploads/JCRZ-GKN_Sinter_Metals_Buckslip___150_copies.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/JLNW-NWL_Flyer___500_copies.pdf">https://mimicprint2.com/media/uploads/JLNW-NWL_Flyer___500_copies.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/JRQX-CUPE_2635_launchposter___5_copies.pdf">https://mimicprint2.com/media/uploads/JRQX-CUPE_2635_launchposter___5_copies.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/JVDM-Stanley_House_Road_Interim_Brochure_Timberview_Developments_Inc_Raymond_Schnurr__1_.pdf">https://mimicprint2.com/media/uploads/JVDM-Stanley_House_Road_Interim_Brochure_Timberview_Developments_Inc_Raymond_Schnurr__1_.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/KBHR-160_4th_Ave_PressQ.pdf">https://mimicprint2.com/media/uploads/KBHR-160_4th_Ave_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/KFWB-116_George.pdf">https://mimicprint2.com/media/uploads/KFWB-116_George.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/KLGS-40_Woodlawn_Ave_W_8pg_Feature_Sheet_PQ.pdf">https://mimicprint2.com/media/uploads/KLGS-40_Woodlawn_Ave_W_8pg_Feature_Sheet_PQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/KQFZ-Brookside_82_PressQ.pdf">https://mimicprint2.com/media/uploads/KQFZ-Brookside_82_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LFKT-SChenoweth_Stickers.pdf">https://mimicprint2.com/media/uploads/LFKT-SChenoweth_Stickers.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LGCQ-NWL_Flyer_Mar_17_V2___500_copies.pdf">https://mimicprint2.com/media/uploads/LGCQ-NWL_Flyer_Mar_17_V2___500_copies.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/MGCW-23_Woodlawn_Road__Unit_910___PRINT.pdf">https://mimicprint2.com/media/uploads/MGCW-23_Woodlawn_Road__Unit_910___PRINT.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/MRTJ-328_Fifth_Street_PressQ.pdf">https://mimicprint2.com/media/uploads/MRTJ-328_Fifth_Street_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/MZVQ-70_Milton.pdf">https://mimicprint2.com/media/uploads/MZVQ-70_Milton.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/NSKP-Lowther_90_Just_Listed_PressQ.pdf">https://mimicprint2.com/media/uploads/NSKP-Lowther_90_Just_Listed_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/NXVF-Roger_s_brochure_for_soundview_court.pdf">https://mimicprint2.com/media/uploads/NXVF-Roger_s_brochure_for_soundview_court.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/NZLF-Pull_Up_Banner_Aptima_HPV_v4_Folder.zip">https://mimicprint2.com/media/uploads/NZLF-Pull_Up_Banner_Aptima_HPV_v4_Folder.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PDBR-Business_Solicitation_Letter_final_PressQ.pdf">https://mimicprint2.com/media/uploads/PDBR-Business_Solicitation_Letter_final_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PTRH-Business_Solicitation_Letter_final_PressQ.pdf">https://mimicprint2.com/media/uploads/PTRH-Business_Solicitation_Letter_final_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PWDF-55Front_517_Just_Sold.pdf">https://mimicprint2.com/media/uploads/PWDF-55Front_517_Just_Sold.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QCSL-Broadview_662_REVISED_PressQ.pdf">https://mimicprint2.com/media/uploads/QCSL-Broadview_662_REVISED_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QDFW-299_Bear_Creek_Brochure__1_.pdf">https://mimicprint2.com/media/uploads/QDFW-299_Bear_Creek_Brochure__1_.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QKXG-516_Markham_St_8pg_Feature_Sheet_PQ.pdf">https://mimicprint2.com/media/uploads/QKXG-516_Markham_St_8pg_Feature_Sheet_PQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RCNT-NWL_Flyer_Mar_17_V2___500_copies.pdf">https://mimicprint2.com/media/uploads/RCNT-NWL_Flyer_Mar_17_V2___500_copies.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RCZK-212_Ironwood_Way_PressQ.pdf">https://mimicprint2.com/media/uploads/RCZK-212_Ironwood_Way_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RJWF-HPV_and_ThinPrep_Canada_Exhibition.zip">https://mimicprint2.com/media/uploads/RJWF-HPV_and_ThinPrep_Canada_Exhibition.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RSMX-Week_1.zip">https://mimicprint2.com/media/uploads/RSMX-Week_1.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RSNT-justlisted_29QueensQuay.pdf">https://mimicprint2.com/media/uploads/RSNT-justlisted_29QueensQuay.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RZVC-Pull_Up_Banner_Aptima_HPV_v4_Folder.zip">https://mimicprint2.com/media/uploads/RZVC-Pull_Up_Banner_Aptima_HPV_v4_Folder.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/SDNG-33_Harbour.pdf">https://mimicprint2.com/media/uploads/SDNG-33_Harbour.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/TVXN-Bala_Woodlands_Brochure_1.pdf">https://mimicprint2.com/media/uploads/TVXN-Bala_Woodlands_Brochure_1.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VDRN-60_Rue_St_Andrew___Barsalou_Meunier.pdf">https://mimicprint2.com/media/uploads/VDRN-60_Rue_St_Andrew___Barsalou_Meunier.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VNDK-Brochure___472_Cherriman.pdf">https://mimicprint2.com/media/uploads/VNDK-Brochure___472_Cherriman.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/WKQF-VL_Fold_Out_Flyer_v4_pdf_x4.pdf">https://mimicprint2.com/media/uploads/WKQF-VL_Fold_Out_Flyer_v4_pdf_x4.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/WPCJ-1121_Bay_St_2002_8pg_Feature_Sheet.pdf">https://mimicprint2.com/media/uploads/WPCJ-1121_Bay_St_2002_8pg_Feature_Sheet.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/WQJR-GKN_Sinter_Metals_Poster___5_copies.pdf">https://mimicprint2.com/media/uploads/WQJR-GKN_Sinter_Metals_Poster___5_copies.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/WSGT-32681_Manual___1_Copy.rar">https://mimicprint2.com/media/uploads/WSGT-32681_Manual___1_Copy.rar</a></li>
<li><a href="https://mimicprint2.com/media/uploads/XKHB-90_Lowther2_PressQ.pdf">https://mimicprint2.com/media/uploads/XKHB-90_Lowther2_PressQ.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/XTHC-Week_1_copy.zip">https://mimicprint2.com/media/uploads/XTHC-Week_1_copy.zip</a></li>
<li><a href="https://mimicprint2.com/media/uploads/ZKGB-568_Fairlawn_spreads.pdf">https://mimicprint2.com/media/uploads/ZKGB-568_Fairlawn_spreads.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/ZMTK-MIMIC_Paper_sample_book_2017_v2.pdf">https://mimicprint2.com/media/uploads/ZMTK-MIMIC_Paper_sample_book_2017_v2.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/ZQNM-568_Fairlawn.pdf">https://mimicprint2.com/media/uploads/ZQNM-568_Fairlawn.pdf</a></li>
<li><a href="https://mimicprint2.com/media/uploads/ZWMJ-2_Rean.pdf">https://mimicprint2.com/media/uploads/ZWMJ-2_Rean.pdf</a></li>

<p> New list</p>
<li><a href="https://mimicprint2.com/media/uploads/CXPB-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/CXPB-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DFTG-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DFTG-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DGSB-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DGSB-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DLHP-roz_tcvet210.png">https://mimicprint2.com/media/uploads/DLHP-roz_tcvet210.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DMQR-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DMQR-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DWLR-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DWLR-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DWRM-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DWRM-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/FLMD-338_339.jpg">https://mimicprint2.com/media/uploads/FLMD-338_339.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/FRXN-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/FRXN-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/GDKM-lilia54.png">https://mimicprint2.com/media/uploads/GDKM-lilia54.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/GDMK-nice_vacation_home222.jpg">https://mimicprint2.com/media/uploads/GDMK-nice_vacation_home222.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/GKNJ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/GKNJ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/GRVP-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/GRVP-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/HPFD-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/HPFD-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/HXND-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/HXND-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/HZQW-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/HZQW-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/JXTN-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/JXTN-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/KRZN-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/KRZN-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LDFB-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/LDFB-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LHSD-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/LHSD-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LRQB-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/LRQB-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LSVT-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/LSVT-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/NVPX-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/NVPX-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/NWBS-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/NWBS-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PQCR-338_339.jpg">https://mimicprint2.com/media/uploads/PQCR-338_339.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PWQZ-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/PWQZ-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PWXJ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/PWXJ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PXSD-IMG_4252.JPG">https://mimicprint2.com/media/uploads/PXSD-IMG_4252.JPG</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QBGL-nice_vacation_home222.jpg">https://mimicprint2.com/media/uploads/QBGL-nice_vacation_home222.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QFJR-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/QFJR-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QKJC-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/QKJC-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QLBK-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/QLBK-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QSZC-01_Patio.jpg">https://mimicprint2.com/media/uploads/QSZC-01_Patio.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RNGC-01_Patio.jpg">https://mimicprint2.com/media/uploads/RNGC-01_Patio.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RXGS-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/RXGS-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/SBDZ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/SBDZ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/SDWJ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/SDWJ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/SNCM-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/SNCM-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/soth_ы_1.png">https://mimicprint2.com/media/uploads/soth_ы_1.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/TGZL-_________fullsize.jpg">https://mimicprint2.com/media/uploads/TGZL-_________fullsize.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/TRZB-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/TRZB-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VHMN-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/VHMN-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VMKL-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/VMKL-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VRCN-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/VRCN-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VTXZ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/VTXZ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/XLSV-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/XLSV-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/XSBV-Home_Page_Vacation_Rentals_eg1.jpg">https://mimicprint2.com/media/uploads/XSBV-Home_Page_Vacation_Rentals_eg1.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/XVSG-lilia54.png">https://mimicprint2.com/media/uploads/XVSG-lilia54.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/ZNLS-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/ZNLS-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/ZWNS-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/ZWNS-Snake_River__5mb_.jpg</a></li>

{% endblock %}
