{% extends "base.html" %}
{% load staticfiles %}

{% block body_id %}{% endblock %}

{% block subheader %}
<div class="products-categories">
    <ul>
        <li><a href="{% url 'brochures:brochures' %}" class="{% block active_brochure_state %}{% endblock %}">Brochures</a></li>
        <li><a href="{% url 'products:product_list' %}" class="{% block active_product_state %}{% endblock %}">Other Products</a></li>
        <li><a href="{% url 'cards:cards' %}" class="{% block active_card_state %}{% endblock %}">Cards</a></li>
    </ul>
</div>
{% endblock %}

{% block search %}
<div id="search">
    <!--<form action="#" method="get">{% csrf_token %} {# {% url 'brochures:brochure_search' %} #}-->
        <input type="text" name="q" title="Search brochure..." id="search_input">
        <input type="image" src="{% static 'img/search.gif' %}" id="search_submit" alt="Search">
    <!--</form>-->
</div>
{% endblock %}

{% block content %}


<li><a href="https://mimicprint2.com/media/uploads/CXPB-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/CXPB-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DFTG-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DFTG-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DGSB-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DGSB-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DLHP-roz_tcvet210.png">https://mimicprint2.com/media/uploads/DLHP-roz_tcvet210.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DMQR-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DMQR-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DWLR-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DWLR-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/DWRM-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/DWRM-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/FLMD-338_339.jpg">https://mimicprint2.com/media/uploads/FLMD-338_339.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/FRXN-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/FRXN-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/GDKM-lilia54.png">https://mimicprint2.com/media/uploads/GDKM-lilia54.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/GDMK-nice_vacation_home222.jpg">https://mimicprint2.com/media/uploads/GDMK-nice_vacation_home222.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/GKNJ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/GKNJ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/GRVP-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/GRVP-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/HPFD-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/HPFD-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/HXND-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/HXND-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/HZQW-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/HZQW-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/JXTN-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/JXTN-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/KRZN-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/KRZN-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LDFB-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/LDFB-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LHSD-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/LHSD-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LRQB-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/LRQB-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/LSVT-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/LSVT-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/NVPX-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/NVPX-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/NWBS-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/NWBS-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PQCR-338_339.jpg">https://mimicprint2.com/media/uploads/PQCR-338_339.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PWQZ-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/PWQZ-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PWXJ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/PWXJ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/PXSD-IMG_4252.JPG">https://mimicprint2.com/media/uploads/PXSD-IMG_4252.JPG</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QBGL-nice_vacation_home222.jpg">https://mimicprint2.com/media/uploads/QBGL-nice_vacation_home222.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QFJR-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/QFJR-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QKJC-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/QKJC-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QLBK-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/QLBK-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/QSZC-01_Patio.jpg">https://mimicprint2.com/media/uploads/QSZC-01_Patio.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RNGC-01_Patio.jpg">https://mimicprint2.com/media/uploads/RNGC-01_Patio.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/RXGS-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/RXGS-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/SBDZ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/SBDZ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/SDWJ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/SDWJ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/SNCM-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/SNCM-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/soth_ы_1.png">https://mimicprint2.com/media/uploads/soth_ы_1.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/TGZL-_________fullsize.jpg">https://mimicprint2.com/media/uploads/TGZL-_________fullsize.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/TRZB-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/TRZB-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VHMN-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/VHMN-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VMKL-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/VMKL-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VRCN-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/VRCN-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/VTXZ-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/VTXZ-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/XLSV-4_Day_Young_Explorers.png">https://mimicprint2.com/media/uploads/XLSV-4_Day_Young_Explorers.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/XSBV-Home_Page_Vacation_Rentals_eg1.jpg">https://mimicprint2.com/media/uploads/XSBV-Home_Page_Vacation_Rentals_eg1.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/XVSG-lilia54.png">https://mimicprint2.com/media/uploads/XVSG-lilia54.png</a></li>
<li><a href="https://mimicprint2.com/media/uploads/ZNLS-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/ZNLS-Snake_River__5mb_.jpg</a></li>
<li><a href="https://mimicprint2.com/media/uploads/ZWNS-Snake_River__5mb_.jpg">https://mimicprint2.com/media/uploads/ZWNS-Snake_River__5mb_.jpg</a></li>

{% endblock %}
