{% extends "admin/base_site.html" %}
{% load staticfiles %}

{{% block extrahead %}

  <link rel="stylesheet" media="all" type="text/css" href="{% static 'css/multi-select.css' %}" />
  <link rel="stylesheet" media="all" type="text/css" href="{% static 'css/export.css' %}" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script src="{% static 'js/jquery.multi-select.js '%}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.quicksearch.js '%}" type="text/javascript"></script>
  <script type="text/javascript">
    $(function(){
      $('#exported-products').multiSelect({
        selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Search'>",
        selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Search'>",

        afterInit: function(ms){
          var that = this,
          $selectableSearch = that.$selectableUl.prev(),
          $selectionSearch = that.$selectionUl.prev(),
          selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
          selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

          that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
          .on('keydown', function(e){
            if (e.which === 40){
              that.$selectableUl.focus();
              return false;
            }
          });

          that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
          .on('keydown', function(e){
            if (e.which == 40){
              that.$selectionUl.focus();
              return false;
            }
          });
        },

        afterSelect: function(){
          this.qs1.cache();
          this.qs2.cache();
        },

        afterDeselect: function(){
          this.qs1.cache();
          this.qs2.cache();
        }
      });
    });
  </script>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="/admin/">Home</a> &rsaquo; 
    <a href="/admin/products/product/">Products</a> &rsaquo; 
    Export
  </div>
{% endblock %}

{% block content %}
  {% load markup %}

  <form action="download" method="post">{% csrf_token %}
    <div class="export-products-holder">
      <select multiple="multiple" id="exported-products" name="products[]">
        {% for item in items %}
          <option value="{{ item.id }}" {% if item.selected %}selected="selected"{% endif %}>
            {{ item.title }}
          </option>
        {% endfor %}
      </select>
    </div>
    <input type="submit" value="Export" class="big-button" />
  </form>
{% endblock %}
