<!DOCTYPE html>
<html>
    <body>

        <p>
            <h3>Jobs Due Today</h3>
            <ul>
                {% if today_orders|length %}
                    {% for order in today_orders %}
                        <li>{{ order.name }} {% if order.part_numbers %}- {{ order.part_numbers }} {% endif %}- {{ order.ship_to }} - {{ order.quantity }}.</li>
                    {% endfor %}
                {% else %}
                    <p>There are no jobs for today</p>
                {% endif %}
            </ul>
        </p>

        <p>
            <h3>Jobs Due Tomorrow</h3>
            <ul>
                {% if tomorrow_orders|length %}
                    {% for order in tomorrow_orders %}
                        <li>{{ order.name }} {% if order.part_numbers %}- {{ order.part_numbers }} {% endif %}- {{ order.ship_to }} - {{ order.quantity }}.</li>
                    {% endfor %}
                {% else %}
                    <p>There are no jobs for tomorrow</p>
                {% endif %}
            </ul>
        </p>

        <p>
            <h3>Overdue Jobs</h3>
            <ul>
                {% if late_orders|length %}
                    {% for order in late_orders %}
                        <li>{{ order.name }} {% if order.part_numbers %}- {{ order.part_numbers }} {% endif %}- {{ order.ship_to }} - {{ order.quantity }}.</li>
                    {% endfor %}
                {% else %}
                    <p>There are no jobs for late</p>
                {% endif %}
            </ul>
        </p>


        <p>
            <b>Thank you,</b><br>
            --<br>
            Mimic Print & Media Services<br>
            Tel: 905.415.2772<br>
            Fax: 905.415.2005<br>
            Web: https://{{ site.domain }}/<br>
        </p>
    </body>
</html>