<!DOCTYPE html>
<html>
    <body>
        The following order has been placed successfully via the Mimic Print &
        Media Services Online Ordering System.

        <hr>

        <p>
            <h3>ORDER NAME</h3> 
            {{ order.name }}
        </p>

        <p>
            <h3>DUE DATE</h3>
            {{ order.due_date|date:"l, F j, Y" }}
        </p>

        <p>
            <h3>ORDERED BY</h3>
            {{ order.placed_by.get_full_name }}<br>
            {{ user_profile.org }}<br>
            Business: {{ user_profile.bus_phone }}<br>
            Cell:     {{ user_profile.cell_phone }}<br>
            Home:     {{ user_profile.home_phone }}<br>
            Email:    {{ order.placed_by.email }}
        </p>

        <p>
            <h3>ITEMS</h3>
            {% for item in line_items %}{% include "orders/line_item.html" %}<br>{% endfor %}<br>
        </p>

        <p>
            <h3>SHIP TO</h3>
            {% with order.ship_to as address %}{% include "addresses/address_snippet.html" %}{% endwith %}
        </p>

        <p>
            <h3>ADDITIONAL INFO</h3>
            Comments: {% if order.additional_info %}{{ order.additional_info }}{% else %}None.{% endif %}<br>
            P.O. Number: {% if order.po_number %}{{ order.po_number }}{% else %}None.{% endif %}<br>
            File: {% if order.additional_file %}<a href="http://{{host}}">Download</a>{% else %}None{% endif %}<br>
            Print Ready: {% if preview %} <a href="http://{{preview}}" target="_blank" title="Click to download a PDF of this preview">Download</a>{% else %} None {% endif %}
        </p>

        <hr>

        <p>
            Thank you for placing this order with us. If there are any
            concerns a representative will contact you; otherwise your order will be
            processed based on your due date.
        </p>

        <p>
            If you have any questions regarding your order or the Online Ordering 
            System, please don't hesitate to contact us. 
        </p>

        <p>
            Thank you,<br>
            --<br>
            Mimic Print & Media Services<br>
            Tel: 905.415.2772<br>
            Fax: 905.415.2005<br>
            Web: https://{{ site.domain }}/<br>
        </p>
    </body>
</html>