<!DOCTYPE html>
<html>
    <body>
        <p>
        The following order has been placed at the Mimic Print & Media Services
        Online Ordering System. Please note that this order REQUIRES APPROVAL
        from a manager, and will not be placed into production until it is
        received. If you are the manager for this organization, please log in
        and approve or deny this order.
        </p>

        <hr>

        <p>
                <h3>ORDER NAME</h3>
            {{ order.name }}
        </p>

        <p>
            <h3>DUE DATE</h3>
            {{ order.due_date|date:"l, F j, Y" }}
        </p>

        <p>
            <h3>ORDERED BY</h3>
            {{ order.placed_by.get_full_name }}
        </p>

        <p>
            <h3>ITEMS</h3>
            {% for item in line_items %}{% include "orders/line_item.html" %}{% endfor %}
        </p>

        <p>
            <h3>SHIP TO</h3>
            {% with order.ship_to as address %}{% include "addresses/address_snippet.html" %}{% endwith %}
        </p>

        <p>
            <h3>ADDITIONAL INFO</h3>
            Comments: {% if order.additional_info %}{{ order.additional_info }}<br>{% else %}None.<br>{% endif %}
            <b>P.O. Number:</b> {% if order.po_number %}{{ order.po_number }}<br>{% else %}None.<br>{% endif %}
            File: {% if order.additional_file %}<a href="{{host}}">Download</a>{% else %}None{% endif %}
            Print Ready: {% if preview %} <a href="http://{{preview}}" target="_blank" title="Click to download a PDF of this preview">Download</a>{% else %} None {% endif %}
        </p>

        <p>Thank you for placing this order with us. We will process it as soon as
        possible.

        If you have any questions regarding your order or the Online Ordering 
        System, please don't hesitate to contact us.</p> 

        <p><b>Thank you</b>,
        --<br>
        Mimic Print & Media Services<br>
        Tel: 905.415.2772<br>
        Fax: 905.415.2005<br>
        Web: https://{{ site.domain }}/</p>
    </body>
</html>