<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Mimic Online Ordering System: Currently Unavailable</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/public/screen_public.css" type="text/css" media="all" />
 </head>

<body id="offline">
<div id="container">
    <div id="header">
        <h1><img src="{{ MEDIA_URL }}img/public/logo.gif" alt="Mimic" width="177" height="30" /></h1>
    </div><!--header-->
    
    <div id="main_content">
        <h3>Online Ordering System Currently Unavailable</h3>
        <p>Our apologies, but the Mimic Online Ordering System is currently offline so that we can perform some routine maintenance. Service will resume temporarily. Thank you for your patience and understanding. If you have an urgent request, please <a href="mailto:sales@mimicprint.com" title="Send an email">contact us</a>.</p>
    </div><!--maincontent-->

    <div id="footer">
        <p>Please <a href="/contact/" title="How to reach us">contact us</a> with any questions or concerns.<br> &copy; 2007 Mimic Print &amp; Media Services. All rights reserved.</p>
    </div><!--footer-->
</div><!--container-->
</body>
</html>
