{% extends "downloads/base_download.html" %}
{% load staticfiles %}

{% block content %}
    {% if downloads %}
        <p>Below are files waiting for you to download. Right click on the file icon and choose "Save as..." to download it. If you are finished downloading a file and no longer want to see it in this list, click the Delete icon.</p>
        <table class="addresses">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Date uploaded</th>
                    <th class="actions">Size</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for download in downloads %}
                    {% load file_ext %}
                    {% checkexistfile download as dwnld %}
                    {% if dwnld %}
                        <tr class="{% cycle odd,even %}">
                        <td><img src="{% static 'img/'%}{% get_filetype download %}.png" alt="" height="16" width="16">  <strong>{{ dwnld }}</strong>{% if dwnld.comments %}<em>: {{ dwnld.comments }}</em>{% endif %}</td>
                        <td>{{ dwnld.date_added|date:"l, F j, Y \a\t H:i" }}</td>
                        <td class="actions">
                            {{ dwnld.file.size|filesizeformat }}
                        </td>
                        <td class="actions">
                            <a href="{{ download.file.url }}" target="_blank" title="Download this file"><img src="{% static 'img/arrow_270.png' %}" alt="Download" height="16" width="16"></a>
                            {% if dwnld.is_deletable %}
                                <a href="{% url 'downloads:download_delete' download.id %}" title="Delete this file" rel="dialog"><img src="{% static 'img/cross.png' %}" alt="Delete" height="16" width="16"></a>
                            {% else %}
                                <img src="{% static 'img/cross_gray.png' %}" alt="Delete" title="This file has been marked as non-deletable" height="16" width="16">
                            {% endif %}
                        </td></tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no files waiting for you to download.</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
{% if downloads %}
    <div class="static_msgbox alert_n">
        <p>Deleting a file will remove it from the server and make it unavailable to other members of your group.</p>
    </div>
{% endif %}
{% endblock %}
