{% extends "base_public.html" %}

{% block title %}News Detail{% endblock %}
{% block page_title %}<img src="{{ MEDIA_URL }}img/public/recent_news.gif" alt="Recent News" width="136" height="17">{% endblock %}
{% block body_id %}news{% endblock %}
{% block banner_img %}<img src="{{ MEDIA_URL }}img/public/pencil_tops.jpg" alt="Image of pencil tips" width="750" height="95">{% endblock %}

{% block content %}
    {% load markup %}
    <div class="entry">
        <h3>{{ entry }}</h3>
        <p class="entry_meta">Published on {{ entry.date_created|date:"l, F j, Y \a\t H:i" }}</p>
        {{ entry.body|markdown|safe }}
        <p class="back">&larr; <a href="{% url public_events_index %}">Back to News</a></p>
    </div>
{% endblock %}
